{erl_opts, [{src_dirs, ["src"]},
            debug_info]}.
{sub_dirs, []}.
{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}}
       ]}.

{cover_enabled, true}.

%%{ct_log_dir,"./.ct_results"}.
%%{ct_extra_params,"-cover test/websocket_client.coverspec"}.
%%{ct_use_short_names,true}.
